/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f8f8f8;
}

// API GIT HUB
.avatar {
  width: 60px;
  height: 60px;
  margin-left: 320px;
  border: 3px solid rgb(204, 218, 204);
  border-radius: 50%;
}
 /* BARRA SUPERIOR */
/* BARRA DE NAVEGACION */
#nav {
    position: fixed;
    width: 100%;
    height: 70px;
    align-items: center;
    border-radius: 0 0 20px 20px;
    z-index: 2;
}
body{
    background-color: #f8f8f8;
}
.avatar {
    width: 60px;
    height: 60px;
    margin-left: 320px;
    border: 3px solid rgb(200, 204, 254);
    border-radius: 50%;
}
header{
    width: 100%;
}
  
    
/* Zona de slides*/
    .btn-previo {
        background-image: linear-gradient(to left, rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    }
    .btn-siguiente{
        background-image: linear-gradient(to right, rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    }
    .anterior{ //boton izquierdo de slide
        width: 40px;
        height: 40px;
    }
    
    .siguiente{ //boton derecho slide
        width: 40px;
        height: 40px;
    }
    //***SOBRE MI***//
.nosotros{
    margin-top: 30px;
    height: 500px;
}
.row{
    margin-left: 0;
    margin-right: 0;
    height: auto;
}
.izquierda{
    height: 500px;
    background-image: url(imagenes/quienSoy.jpg);
    background-size: cover;
}
.derecha{
    h3{
        text-align: center;
        font-size: 35px;
    }
    p{
        text-align: justify;
        font-size: 28px;
    }
    
    &:hover{
        transition: .9s;
        background-color: rgba(188, 188, 188, 0.765);
    }
}
.izquierda{
    background-image: url(galeria/quienSoy.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
  //***FIN SOBRE MI***//

#containerInputs input{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
}
#desde, #hasta, #btnBuscar {
        font-size: 20px;
        background-color: white;
        color: rgb(37, 49, 6);
        font-weight: bolder;
}
#btnBuscar {
        border-radius: 10px;
        background-color: #e2e74e;
} 
#btnBuscar:active {
        transform: scale(0.9);
}
    
/******Zona de formulario******/
form {
    width: 450px;
    margin: auto; //*queda centrado todo el formulario*/
    padding: 10px 20px; //* relleno vertical y horizontal*/
}
fieldset{
    background-image: url();
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    border: transparent;
    
}
legend{
    text-align: center;
    font-size: 20px;
}
    
label{
    margin-bottom: 0;
    margin-top: 8px;
}
button{
        width: 100%;
        margin-bottom: 20px; //*margen arriba*/
        border: none;
        border-radius: 5px;
        box-shadow: 3px 5px 5px rgba(3, 32, 51, .8);
        transition: transform 200ms, box-shadow 200ms;
    
        &:active{
            transform: translateY(4px) translateX(4px);
            box-shadow: 3px 5px 5px rgba(3, 32, 51, .8);;
        }
}
input, textarea{
    padding: 3px;
    width: 100%;
    font-size: 15px;
    border-radius: 5px;
}
textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}
    /******FIN Zona de formulario******/
    .Turnos{
        width: 50%;
        
    }
  /* Zona de Pie de Pagina */
footer h2{
    margin-top: 30px;
    text-align: center;
    font-size: 30px;
}

.input {
    font-size: 20px;
    border-radius: 10px;
}
#articulos {
    display: none;
    margin-top: 170px;
    font-size: 35px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    padding: 15px;
  }

.content {
  width: 550px;
  background-color: rgba(17, 87, 16, 0.716);
  font-size: 28px;
  color: white;
  padding: 1px;
}
  /* ARTICULOS */
#nombreProductoBuscar {
  margin-top: 110px;
  font-size: 20px;
  background-color: white;
  color: rgba(51, 54, 43, 0.982);
  font-weight: bolder;
}
  
.articulo { //CARD DE ARTICULO
  display: inline-flexbox;
  background-color: rgba(54, 133, 11, 0.213);
  margin: auto;
  border: 10px solid rgb(81, 85, 80);
  border-radius: 0 35px;
  width: auto;
  height: 360px;
  text-align: center;
  padding: 10px;
  padding-bottom: 24px;
  box-shadow: 4px 4px 25px gray;
}
  h2 {
    color: rgb(11, 51, 11);
    font-weight: bolder;
    text-align: center;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 0;
    height: 45px;
  }
  h3 {
    font-size: 26px;
    margin: 7px;
  }
  .precio {
    width: 230px;
    height: 30px;
  }
  .pre {
    display: contents;
  }
.codigo {       //Codigo del articulo 
    position: absolute;
    margin-top: 20px;
    width: 60px;
    height: auto;
    color: black;
    font-size: 20px;
    border-radius: 30%;
    border: 1px solid rgb(56, 61, 55);
    h4{
      font-size: 20px;
    }
}
  #code {
    display: none;
  }
  .imagen {
    width: 220px;
    height: 190px;
    border-radius: 0 35px;
    border: solid 2px rgb(142, 152, 141);
    margin-bottom: 10px;
    box-shadow: 7px 7px 10px rgb(94, 105, 88);
  }
  #btnComprar:active {
    transform: scale(0.9);
  }
  .stock {
    position: absolute;
    background-color: rgb(6, 66, 19);
    border-radius: 50%;
    padding: 4px;
    font-size: 20px;
    margin-top: -207px;
    margin-left: 6px;
    z-index: 1;
  }
  .descripcion {
    display: none;
    position: absolute;
    background-color: rgba(0, 128, 0, 0.779);
    font-size: 25px;
    margin-top: -180px;
    width: 240px;
  }
  .articulo:hover > .descripcion {
    display: block;
  }
  section {
    color: white;
    display: flex;
    flex-wrap: wrap;
  }
  .button {
    background-color: rgb(84, 98, 159); //Botones de Agregar
    position: relative;
    margin-top: 8px;
    right: -40px;
    width: 150px;
    height: 65px;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 3px 3px 10px rgb(15, 59, 28);
    border-radius: 15px;
    cursor: pointer;
    z-index: 1;
  }
  .button:active {
    transform: scale(0.9);
  }
  .button span {
    position: relative;
  }
  .button::before { // Efecto subclases Boton Agregar
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(220, 230, 109);
    border-radius: 10px;
    opacity: 0.4;
    clip-path: circle(0 at center);
    transition: 0.6s ease-out;
  }
  .button:hover:before {
    clip-path: circle(100px at center);
  }
  .sinStock {       //CARTEL DE FONDO SIN STOCK
    position: absolute;
    display: none;
    color: black;
    background-color: rgba(128, 128, 128, 0.382);
    font-weight: bolder;
    margin-top: -150px;
    font-size: 45px;
    transform: rotate(-45deg);
    border-radius: 15px;
    padding: 5px;
  }

  h1 {
    position: absolute;
    font-family: 'Courgette', cursive;
    font-size: 32px;
    text-shadow: 3px 3px 10px rgb(255, 255, 255);
    left: 30px;
  }
  
  i {
    font-size: 30px;
  }
  i:hover {
    font-size: 35px;
  }
  a {
    text-decoration: none;
    color: black;
  }
  .barra {
    position: absolute;
    top: 35%;
    left: 28%;
    text-align: center;
    font-size: 30px;
  }

  #barra {
    position: absolute;
    top: 50%;
    left: 37%;
    text-align: center;
    width: 400px;
    height: 50px;
  }
  #esconder {
    position: absolute;
    display: none;
    top: 20px;
    font-size: 25px;
    width: 200px;
    height: 70px;
    right: 90px;
    color: rgb(17, 40, 17);
    font-weight: bolder;
  }
#contador {
  position: absolute;
  color: white;
  font-size: 27px;
  right: -17px;
  top: -6px;
  font-weight: bolder;
  z-index: 1;
}
//BOTONES TIPO i
i {
  font-size: 30px;
}
i:hover {
  font-size: 35px;
}

.carro { //BOTON CARRITO
  position: absolute;
  list-style: none;
  right: 70px;
  i{
    color: white;
  }
}
.x { //BOTON LIMPIAR
  position: absolute;
  right: 18px;
  font-size: 20px;
  i{
    color: white;
  }
}
#volver {
  display: none;
}
  /* LISTA CARRITO */
.carro_lista {
  position: fixed;
  left: 0;
  bottom: -15px;
  top: 60px;
  right: 0;
  background-color: rgba(185, 178, 155, 0.956);
  display: grid;
  list-style: none;
  clip-path: circle(0% at top right);
  transition: clip-path 0.4s;
  z-index: 12;
}
.carro_lista:target {
  clip-path: circle(150% at top right);
  z-index: 12;
}
p{
  display: contents;
}
#list { 
  text-align: center;
  align-items: top; 
  font-size: 33px;
  color: rgb(17, 40, 17);
  font-weight: bolder;
}
.btnEliminar {
  height: 45px;
  border-radius: 50%;
  color: rgb(17, 40, 17);
}
#imgCarro {
  position: relative;
  top: 30px;
  right: 30px;
  display: inline-flexbox;
  width: 60px;
  height: 60px;
  
  margin-bottom: 10px;
  box-shadow: 7px 7px 10px rgb(38, 38, 38);
  border-radius: 50%;
}
  #imgCarro:hover {
    width: 150px;
    height: 150px;
  }
  #btnEliminarPedido {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 20px;
    right: 20px;
    background-color: rgb(78, 84, 172);
    border-radius: 50%;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
  }
  #btnEliminarPedido:active {
    transform: scale(0.9);
  }
  #btnComprar {
    position: absolute;
    width: 80px;
    height: 80px;
    bottom: 20px;
    right: 20px;
    background-color: rgb(85, 100, 201);
    border-radius: 50%;
    font-size: 13px;
    font-weight: bolder;
    cursor: pointer;
  }
  //****SECTOR DE MEDIA QUERIES****
  @media only screen and (max-width: 730px) {
    #temperatura {
      top: 47px;
      font-size: 16px;
    }
    #containerInputs {
      height: 125px;
    }
    .avatar {
      display: none;
    }
    #containerInputs {
      width: 98%;
    }
    #count {
      right: 70px;
      font-size: 16px;
    }
    #nombreProductoBuscar {
      margin-top: 80px;
      font-size: 15px;
    }
    #desde, #hasta, #btnBuscar {
      font-size: 15px;
    }
    .content {
      font-size: 20px;
      margin-left: -35px;
      width: 370px;
    }
    .carro_lista {
      top: 20px;
    }

   #esconder {
    top: 10px;
   }
   #barra {
    left: 23%;
    text-align: center;
    width: 200px;
    height: 30px;
  }
    h1 {
      font-size: 18px;
      margin-left: -30px;
    }
    
    h2 {
      font-size: 23px;
    }
    h3 {
      font-size: 20px;
    }
    #esconder {
      font-size: 15px;
      right: 0px;
    }
    #btnEliminarPedido{
      width: 50px;
      height: 50px;
      font-size: 10px;
      right: 10px;
      top: auto;
      bottom: 5px;
    }
    #btnComprar {
      width: 50px;
      height: 50px;
      font-size: 7px;
      left: 10px;
      bottom: 5px;
    }
    #list {
      font-size: 18px;
    }
    .btnEliminar {
      font-size: 10px;
    }
    #imgCarro {
      display: none;
    }
  }
  @media only screen and (max-width: 470px) {
    #temperatura {
      font-size: 12px;
    }
    i {
      font-size: 20px;
    }
    #containerInputs {
      height: 145px;
    }
    #list {
      font-size: 15px;
    }
    #nombreProductoBuscar {
      margin-top: 70px;
    }
    .articulo {
      width: 320px;
      height: 400px;
      margin-left: 20px;
    }
    .imagen {
      margin-top: -25px;
      width: 300px;
      height: 300px;
    }
    .precio {
      width: 320px;
      margin-top: -10px;
    }
    .button {
      height: 40px;
      margin-top: 0;
    }
    .codigo {
      margin-top: -10px;
      font-size: 15px;
    }
    .stock {
      margin-top: -315px;
      margin-left: 12px;
    }
    .btnEliminar {
      height: 27px;
    }
  }